<div
  fxLayout="row "
  fxLayoutGap="30px"
  fxLayoutGap.xs="20"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
>
  <div fxFlex="50" fxLayout="column">
    <div *ngIf="!heroe.id; else agregar">
      <h2>Nuevo Héroe: {{ heroe.superhero }}</h2>
    </div>

    <ng-template #agregar>
      <h2>Actualizar Héroe: {{ heroe.superhero }}</h2>
    </ng-template>
    <form [formGroup]="miFormulario"  fxFlex="50" fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="40">
          <mat-label>Super Heroe</mat-label>
          <input matInput type="text" formControlName="superhero" />
          <button
            *ngIf="miFormulario.controls['superhero'].value"
            matSuffix
            mat-icon-button
            aria-label="superheroe"
            (click)="miFormulario.controls['superhero'].setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field fxFlex="40">
          <mat-label>Alter Ego</mat-label>
          <input formControlName="alter_ego" matInput type="text" />
          <button
            *ngIf="miFormulario.controls['alter_ego'].value"
            matSuffix
            mat-icon-button
            aria-label="alter_ego"
            (click)="miFormulario.controls['alter_ego'].setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Primera Aparición</mat-label>
        <input formControlName="first_appearance" matInput type="text" />
        <button
          *ngIf="miFormulario.controls['first_appearance'].value"
            matSuffix
            mat-icon-button
            aria-label="alter_ego"
            (click)="miFormulario.controls['first_appearance'].setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Personajes</mat-label>
        <input formControlName="characters" matInput type="text" />
        <button
          *ngIf="miFormulario.controls['characters'].value"
            matSuffix
            mat-icon-button
            aria-label="alter_ego"
            (click)="miFormulario.controls['characters'].setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Editoriales</mat-label>
        <mat-select formControlName="publisher" [(value)]="heroe.publisher">
          <mat-option *ngFor="let publish of publishers" [value]="publish.id">
            {{ publish.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Foto Url</mat-label>
        <input formControlName="imageId" matInput type="url" />
        <button
         *ngIf="miFormulario.controls['imageId'].value"
            matSuffix
            mat-icon-button
            aria-label="alter_ego"
            (click)="miFormulario.controls['imageId'].setValue(heroe.imageId)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <button
        *ngIf="!heroe.id; else agregarBoton"
        mat-raised-button
        color="primary"
        (click)="guardar()"
      >
        <mat-icon>save</mat-icon>
        Guardar
      </button>
      <ng-template #agregarBoton>
        <div
          fxLayout="row"
          fxLayoutGap.xs="10"
          fxLayout.xs="column"
          fxLayoutAlign="space-between"
        >
          <button
            fxFlex="40"
            mat-raised-button
            color="accent"
            (click)="guardar()"
          >
            <mat-icon>edit</mat-icon>
            Actualizar
          </button>

          <button
            fxFlex="40"
            mat-raised-button
            color="warn"
            (click)="eliminar()"
          >
            <mat-icon>delete</mat-icon>
            Eliminar
          </button>
        </div>
      </ng-template>
    </form>
  </div>

  <div fxFlex="50" fxLayoutAlign="center center">
    <img [src]="miFormulario.value | imagen: miFormulario.controls['imageId'].value" alt="foto" />
  </div>
</div>
