<div class="animate__animated animate__backInLeft animate__fast">
  <h2 mat-dialog-title>Borrar {{ data.superhero }}</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <p>¿Realmente desea eliminar el registro seleccionado?</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [mat-dialog-close]="false">
      Cancelar
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="warn"
      (click)="borrar()"
    >
      Eliminar
    </button>
  </mat-dialog-actions>
</div>
